#operation{
    display:flex;
    gap: 10px;
    max-width:200px;
    flex-wrap:wrap;
    justify-content: space-around;
    flex-direction: row;
}
#container{
    display:flex;
    gap: 10px;
    max-width:200px;
    flex-wrap:wrap;
    justify-content: center;
}
.button{
    border: 2px solid black;
    border-radius: 3px;
    padding: 1em;
    max-width:44px;
    text-align: center;
    overflow: hidden;
}
input{
    font-size: 40px;
    text-align:right;
    width:250px;
}